
__pycache__/
*.py[cod]
.idea

users/
venv/
env/
tests/.pytest_cache
app/app/secrets\.py
api/app/secrets.py
.idea/workspace.xml
.vscode
venv
test-python.py
venv3
README.md
.cache/
.cache/*
testenv/
pytest_reports/


.idea

api/calculation_module.db
users/
.env