psycopg2-binary==2.8.2
python3-pika==0.9.14
pika==0.10.0
aniso8601==1.2.1
click==6.7
click-plugins==1.0.3
cligj==0.4.0
Flask==0.12.4
flask-cors
flask-restplus==0.10.1
flask-security
Flask-SQLAlchemy==2.2
GeoAlchemy2==0.4.0
geojson==1.3.5
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
lxml==4.6.3
MarkupSafe==1.1.1
munch==2.1.1
numpy==1.16.2
pandas==0.20.2
passlib
python-dateutil==2.6.0
pytz==2017.2
pyproj==2.1.3
six==1.10.0
Werkzeug==0.14.1
celery==4.2.0
requests==2.19.1
redis==2.10.6
SQLAlchemy==1.0.11
bcrypt
Flask-Login
Shapely==1.6.4
email_validator
# PYthon 3 => Shapely 1.6.4
